.intro{
     font-family: "poppins";
     display: flex;
     height: 77vh;
     margin-top: 5rem;
     padding: 0 50px;
}

.i-left{
    display: flex;
    position: relative;
    flex : 1;
    flex-direction: column;
    gap: 2rem
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name a{
    text-decoration: none ;
}

.i-name>:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: black;
}
.i-name>:nth-child(2){
    color: orange;
    font-size: 3rem;
    font-weight: bold;
    
}

.i-name>:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: gray;
    
}

.i-btn{
    width: 7rem;
    height: 2.5rem;
    text-align: center;
    font-size: 22px;
}

.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
    height: 4rem;
}

.i-icons>*{
    transform: scale(0.6);
   
}

.i-icons img{
     border-radius: 40%;
}
.i-icons>*:hover{
    cursor: pointer;
}


.i-right{

    flex: 1;
    position: relative;
    left: 100px;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1)
{
    width: 26rem;
    height: 26rem;
    margin-top: 10px;
    border-radius: 50%;
   
}

.i-right>:nth-child(2)
{ 
    left : 0px;
    width: 26rem;
    height: 27rem;
}

@media screen and (max-width:480px){
    .intro{
        flex-direction: column;
    }
    .i-right{
        transform: scale(0.8);
        left: -3rem
    }

    .i-right{
        top: 2rem
    }
}
