@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.footer{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -0.5rem -3rem;
   position: relative;

   width: 90%;
   height: 20rem;
   margin: 0 auto;
   background: rgba(241, 239, 236, 0.596); 
   margin-bottom: 6rem;
}

.footer span{
    margin-top: -10rem;
    font-size: 24px;
    color: orange;
}


.footer-icons{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 4rem;
    gap: 4rem;
   
    
}

.footer-icons a img{
    color: white;
    width: 3rem;
}

